html {
    background-color: rgb(222, 222, 222);
    color: darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
}
body {
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    padding: 1em 1em 0em 1em;
    height: 3em;
}

#beginPrompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 24px;
    height: 5em;
}

.roundResults {
    font-size: 24px;
}

.playAgain {
    box-sizing: border-box;
    height:1em;
}

#beginPrompt button.yesButton {
    border-radius: 10px;
}

.playAgainButton {
    border-radius: 10px;
    margin: 12px;
}
.optionContainer {
    display: flex;
    height: 150px;
    /* flex: 1 1 auto; */
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 8em;
}

.option {
    width: 150px;
    height: 150px;
    border: 0.5px solid rgba(152, 144, 144, 0.967);
    background-color: white;
    border-radius: 15px;
}

.option > img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.clicked::after {
    box-shadow: inset 0em 0em 12px 0px black;
    content: '';
    display:block;
    height: 100%;
    position:absolute;
    top: 0;
    width: 100%;
    border-radius: 13px;
}

.clicked img {
    transform: scale(0.97);
}
.option:hover {
    transform: scale(1.1);
    border: solid black;
}



#score {
    display:flex;
    justify-content: center;
    gap: 3em;
    height: 90px;
    margin: 2em 1em 1em 1em;
}

.scoreDisplay {
    display:flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items:center;
    gap: 3px;
    width: 90px;
    height: 90px;
    
}
.scoreValue {
    color: rgb(44, 44, 44);
    height:50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 32px;
    border: solid darkgray 1px;
}

p {
    margin: 0;
}