html {
    background-color: rgb(159, 98, 217);
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}
body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    flex: 1 1 auto;
    margin: 1em 1em 0em 1em;
    height: 5em;
}

#beginPrompt {
    box-sizing: border-box;
    height: 3em;
    padding: 2em;
    margin-bottom: 8em;
}

.playAgain {
    box-sizing: border-box;
    height:1em;

}
.optionContainer {
    display: flex;
    height: 13em;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.option {
    width: 200px;
    height: 200px;
    border: dotted black;
    background-color: white;
    border-radius: 15px;
}

.option > img {
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.clicked::after {
    box-shadow: inset 0em 0em 12px 0px black;
    content: '';
    display:block;
    height: 100%;
    position:absolute;
    top: 0;
    width: 100%;
    border-radius: 13px;
}

.clicked img {
    transform: scale(0.97);
}
.option:hover {
    transform: scale(1.1);
    border: solid black;
}



#score {
    box-sizing: border-box;
    justify-self: flex-end;
    flex: 1 1 auto;
    height: 10em;
    width: 5 em;
}